* {
    box-sizing: border-box;
}

body {
    background: violet;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: azure;
    padding: 2em 4em;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px;

}
.container h1 {
    font-size: 3em;
}
.container p {
    font-size: 1.5em;

}
p::first-letter {
    font-size: 180%;
    text-decoration-style: solid ;
  }
.color-dorado {
    color: gold
}
.example {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: brown;
}
.mi-cara {
    height: 1.9em;
    margin-left: 0;
}
h3 {
    width: 100%;
    background-color: beige;
    text-align: center;
    padding: 1em;
    margin: 0;
}
