body {
    background: violet;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container {
    background: azure;
    padding: 2em;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px 5px;

}
.container h1 {
    font-size: 3em;
}
.container p {
    font-size: 1.5em;
}
.color-dorado {
    color: gold
}